<%- include('../partials/header') -%>
<h1><%= skill.skill %></h1>

<h3>Complete: <%= skill.done ? 'Yes' : 'No' %></h3>
<a href="/skills/<%= skill.id %>/edit">Edit Dev Skill</a>
<%- include('../partials/footer') -%>
